
<%- include('../partials/header') %>
<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="index.html" class="logo">
					Ready Dashboard
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<%- include('../partials/navbar') %>
			</div>
            <%- include('../partials/sidebar') %>
			<div class="main-panel">
				<div class="content">
					<div class="container-fluid">

						<h4 class="page-title">Announcement Detail</h4>
						<div class="row">
								<div class="col-md-12">
									<div class="card"> 
                                    <% data.forEach(data => { %>
										<div class="card-header">
                                            <div class="form-group">
												<div class="card-title">Title: <%= data.name %> <%= data.title %></div>
												<br>
												<b><p class="text-primary">Date: <%= data.created_time %></p></b>
											</div>
										</div>
										<div class="card-body">
											<div class="form-group">
												<p><%= data.message %>"</p>
											</div>
										</div>
										
                                    <% }); %>

										<div class="card-action">
											<a href="../announcements" class="btn btn-success">
												Back to Announcements
											</a>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
                <%- include('../partials/footer') %>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h6 class="modal-title"><i class="la la-frown-o"></i> Under Development</h6>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">									
				<p>Currently the pro version of the <b>Ready Dashboard</b> Bootstrap is in progress development</p>
				<p>
				<b>We'll let you know when it's done</b></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
</body>
<%- include('../partials/footer-scripts') %>
</html>